@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body{
	background-image: url('../imagem/pg_2.jpg');
    background-size: 100vw;
}
.txt_sobre{
	display: flex;
	position: relative;
	font-family: Arial, sans-serif;	
	margin-left: 45%;
	margin-top: 15%;
}
.t1{
	display: flex;
	position: absolute;
	margin-top: -5%;
	font-family: Arial, sans-serif;	
	font-size: 30pt;
	color: black;
	text-shadow: none;
}
h3{
	display: flex;
	position: relative;
	margin-left: 12%;
	margin-top: -5%;
	font-family: Arial, sans-serif;	
	font-size: 30pt;
	color: rgb(255, 255, 255);
	text-shadow: none;
}
.foto_1{
	display: block;
	position: relative;
	margin-top: -21%;
	margin-left: 7%;
	width: 55%;
	height: 82%;
}
.cont_pg_2{
	font-family: Arial, sans-serif;	
	margin-top: 0%;
	margin-left: 45%;
	align-items: center;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	display: flex;
}
.cont_pg_2 .txt_pg_2_2{
	font-family: Arial, sans-serif;	
	text-align: center;
	background-color: rgba(219, 186, 0, 0.4);
	padding: 4px 2px 4px 2px;
}
@media screen and (max-width: 3840px){
}
@media screen and (max-width: 1920px){
	.main{
		margin-top: 2vw;
	}
}
@media screen and (max-width: 1360px){
}
@media screen and (max-width: 1280px){
	.nav{
		left: 67vw;
	}
	.foto_1{
		margin-top: -24%;
	}
	.conteiner_ciculo_1{
		margin-top: 30%;
	}
	.conteiner_ciculo{
		margin-top: 7vw;
	}
	.modal_up{
		margin-top: -0.8vw;
	}
}
@media screen and (max-width: 1080px){
}
@media screen and (max-width: 1024px){
}
@media screen and (max-width: 720px){
}