@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    width: 100vw;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    background-image: url('../imagem/back_graund_3.jpg');
    background-size: 100vw;
    max-width: 100vw;
	min-width: 20vw;
}
.navbar{
	position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgba(0,0,0,.9);
	width: 100vw;
	height: 50px;
	z-index: 25;
}
.nav{
	display: flex;
	list-style: none;
	position: fixed;
	left: 70vw;
	top: 0px;
	font-family: Arial;
	font-size: 12pt;
	padding: 0px;
}
a{
	margin: 15px;
	color: white;
	text-decoration: none;
}
a:hover{
	color: #07c500;
	transition: background-color 5s;
}
.topo{
	display: block;
	position:absolute;
	margin-top: 44vw;
	margin-left: 94vw;
	background-color: rgba(0,0,0,.9);
	border-radius: 5px;
}
.menu_lateral{
	margin-top: -13px;
	margin-left: 10px;
	text-align: center;
	z-index: 4;
	display: flex;
	position: fixed;
	left: 10px;
	top: 10px;
	cursor: pointer;
	z-index: 25;
}
.m_lat{
	list-style: none;
	margin-top: 52px;
	margin-left: -390px;
	background-color: rgba(0,0,0,.9);
	position: relative;
	border-radius: 3px;
	width: 110px;
    font-family: Arial;
	font-size: 12pt;
}
.m_lat a{
	display: block;
	padding: 6px 6px;
}
.m_lat a:hover{
	transition: background-color 0s;
	color: black;
	background-color: rgba(167, 167, 167, 0.637);
	border-radius: 10px;
}
input[type="checkbox"]{
	display: none;
}
label{
	padding: 2px;
	position: absolute;
}
input[type="checkbox"]:checked ~ .m_lat{
    transform: translateX(340px);
}
.img_ico{
    cursor: pointer;
}
.icone{
    display: block;
    position: absolute;
    margin-left: 10%;
    margin-top: -0.7%;
    width: 10%;
    height: 80%;
}
.img_home{
    width: 100vw;
    margin-top: -42px;
}
._nome_titulo {
	color: white;
	font-size: max(52px, 4vw);
	font-family: georgia;
	position: absolute;
	display: flex;
	z-index: 0;
}
._nome {
	color: white;
	margin-left: 22%;
	margin-top: 30%;
	font-size: max(62px, 4vw);
	font-family: Arial, sans-serif;	
	position: relative;
	display: flex;
	z-index: 0;
}
._nome_sub {
	color: #07c500;
	margin-left: 20%;
	margin-top: -10%;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	display: flex;
	z-index: 0;
}
@media screen and (max-width: 3840px){
}
@media screen and (max-width: 1920px){
}
@media screen and (max-width: 1360px){
}
@media screen and (max-width: 1280px){
	.nav{
		left: 67vw;
	}
	.foto_1{
		margin-top: -24%;
	}
	.conteiner_ciculo_1{
		margin-top: 30%;
	}
	.conteiner_ciculo{
		margin-top: 7vw;
	}
	.modal_up{
		margin-top: -0.8vw;
	}
}
@media screen and (max-width: 1080px){
}
@media screen and (max-width: 1024px){
}
@media screen and (max-width: 720px){
}
